# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Dependencies
node_modules/
package-lock.json
yarn.lock

# Environment variables
.env
.env.*

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# OS files
.DS_Store
*.pem

# TypeScript
*.tsbuildinfo

# Example files
app-example

# IDE files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
